.header-topbar.bg-vet-clinic {
  background-color: #e1004a;
}

.header-topbar.bg-vet-clinic .information-toppar .text{
  color: #cdcdcd;
}

.information-toppar .icons{
  color: #fff;
}

.header-topbar.bg-vet-clinic .social-topbar li .link:hover{
  color: #020105;
}


.wrapper-mobile-nav .header-topbar{
  font-size: 24px;
  padding-left: 13px;
  letter-spacing: 1px;
  color: #fff;
}

.btn-anketa.btn-wrapper{
  display: inline-block;
}

.btn-anketa.btn-wrapper .btn{
  background-color: #e1004a;
  border: 2px solid #e1004a;
  padding: 0 25px;
  font-size: 12px;
  margin-top: 46px;
  margin-left: 25px;
}

.btn-anketa.btn-wrapper .btn:hover{
  background-color: #fff;
  border: 2px solid #e1004a;
  color: #e1004a;
}

.slider-medic .slide-5 .description ~ .btn-wrapper .btn {
  background-color: #e1004a;
  border-color: #e1004a;
  font-size: 22px;
  padding: 10px 40px;

}

.slider-medic .slide-5 .description ~ .btn-wrapper .btn:hover{
  color: #e1004a;
}

.header-main .logo {
  line-height: 105px;
}

.navigation .nav-links .main-menu{
  line-height: 138px;
}


.header-main.header-fixed .logo {
  line-height: 82px;
}

.header-main.header-fixed .logo .header-logo img{
  max-width: 150px;
}


.header-main.header-fixed .navigation .nav-links .main-menu{
  line-height: 106px;
}


.header-main.header-fixed .btn-anketa.btn-wrapper .btn {
  margin-top: 30px;
}

.header-main.header-fixed .hamburger-menu{
  top: 25px;
}

.slider-wrapper-bg{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  width: 100%;
  height: 100%;
}

.sub-header{
  color: #fff;
}

.slider-medic .slide-5 .header{
  color: #fff;
}

.description{
  color: #fff;
}

.feature-2:hover img{
  -webkit-animation: effectHover 1s linear 0s forwards;
  animation: effectHover 1s linear 0s forwards;
}

.vet-clinic.howwedo{
  background: #fff;
}


.vet-clinic .typo-line:after {
  background-color: #e1004a;
}

.about-us-wrapper .about-us-content .header {
  color: #e1004a;
  font-size: 20px;
  text-align: right;
}

.about-us-wrapper .about-us-content .about-us-inner .about-us-title{
  color: #e1004a;
}

.vet-clinic.howwedo .header ~ .description{
  color: #414141;
}

.vet-clinic.howwedo .description{
  color: #414141;
}

.vet-clinic.howwedo .typo-line .sub-header {
  color: #2b2b2b;
  font-size: 18px;
}

.style-italic{
  font-style: italic;
}

.description-says{
  text-align: right;
  font-style: italic;
}

.photo_us img{
  top: 0;
  position: relative;
  width: 350px;
  height: 350px;
  left: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #e1004a;
}

.cancer-center.why-choose-us-wrapper-new img{
  top: 0;
  position: relative;
  width: 350px;
  height: 350px;
  left: 0;
  margin: 0;
  border-radius: 50%;
  border: 3px solid #e1004a;
}

.photo_us {
  margin-top: 37px;
  text-align: right;
}

.photo_us .about-us-inner .about-us-title{
  text-align: right;
  font-size: 18px;
  margin-top: 15px;
}

.fun-fact.vet-clinic{
  background: none;
  background-color: #e1004a;
}

.progress-inner .counter-inner {
  color: #dedcdc;
}

.vet-clinic.fun-fact .progress-container .description-counter{
  color: #fff;
}

.circle-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-center img{
  width: 64px;
  height: 64px;
}

.typo-line:after{
  background-color: #e1004a;
}

.services-content .btn-for-icon i{
  color: #e1004a;
}

.line{
  background-color: #e1004a;
}

.services-content .btn-for-icon .icon2{
  background-color: #e1004a;
}

.description{
  color: #414141;
}

.header.style-italic{
  font-size: 22px;
  text-align: right;
  margin: 20px 0;
}

.cancer-center.why-choose-us-wrapper-new .panel-heading.active .panel-title a, .cancer-center.why-choose-us-wrapper-new .panel-title:hover a, .cancer-center.why-choose-us-wrapper-new .panel-title:focus a {
  color: #e1004a;
  text-align: left;
}

.panel-title a {
  display: block;
  min-height: 21px;
  font-weight: 600;
}

.cancer-center.why-choose-us-wrapper-new .faq-panel > .panel-heading + .panel-collapse > .panel-body{
  text-align: left;
}

.panel-title a {
  display: block;
  min-height: 21px;
  font-weight: 600;
  text-align: left;
  color: #e1004a;
}

.cancer-center.why-choose-us-wrapper-new .faq-panel .panel-heading.active:before {
  content: '+';
  background-color: #e1004a;
  color: #fff;
}

.cancer-center.why-choose-us-wrapper-new .faq-panel .panel-heading:before {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: inline-block;
  text-align: center;
  content: '+';
  font-size: 14px;
  font-family: "fontawesome";
  width: 30px;
  line-height: 30px;
  background-color: #e1004a;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}

.btn-wrapper.back-to-top .btn{
  border-color: #e1004a;
  color: #e1004a;
}

.btn-wrapper.back-to-top .btn:hover{
  background-color: #e1004a;
}

.services-content .description{
  min-height: 130px;
}

.slider-medic .description{
  color: #fff;
}

.typo-line {
  display: inline-block;
  position: relative;
  margin: 0 0 13px;
  width: 160px;
}



 .comment-left-btn{
   text-align: center;
   font-size: 28px;
   width: 40px;
   line-height: 36px;
   border: 2px solid #f190a7;
   color: #f190a7;
   position: absolute;
   top: 40%;
   left: 0%;
   margin-left: -55px;

 }

.comment-right-btn{
  text-align: center;
  font-size: 28px;
  width: 40px;
  line-height: 36px;
  border: 2px solid #f190a7;
  color: #f190a7;
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: -55px;
}

.comment-right-btn:hover,
.comment-left-btn:hover{
  border: 2px solid #f190a7;
  opacity: 0.5;
  color: #f190a7;
}

.header-white{
  color: #fff;
  margin-bottom: 20px;
}

.sub-header-red{
  color: #e1004a!important;
}

.testimonials.vet-clinic {
  background-color: #e1004a;
}

.vet-clinic .typo-line-white:after {
  background-color: #fff;
}

.footer-content.footer-content-style-5 .btn-for-icon {
  color: #e1004a;
}

.footer-map.footer-content-style-5 {
  background-color: #e1004a;
}

.footer-map.footer-content-style-5 .contact-form-wrapper .contact-form-content.right {
  background-color: #e1004a;
}

.footer-map.footer-content-style-5 .contact-form-wrapper .contact-form-inner .working-hours-inner + .working-hours-inner {
  border-top-color: #634966;
  border: none;
}

.map-contact{
  height: 485px;
  left: -104.5px;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.footer-base-right a{
  color: #8f8f8f;
  font-size: 16px;
  margin-left: 5px;
}

.footer-base-right a:hover{
  text-decoration: underline;
}

.comment-right-btn:active, .comment-left-btn:active {
  border: 2px solid #f190a7;
  opacity: 0.5;
  color: #f190a7;
}

.comment-right-btn:focus, .comment-left-btn:focus {
  border: 2px solid #f190a7;
  opacity: 0.5;
  color: #f190a7;
}

.cancer-center.why-choose-us-wrapper-new{
  padding-top: 0;
}

.info-footer .title-footer{
  font-size: 40px;
}

.slider-medic .typo-adds-on {
  width: 70%;
}

.slider-medic .slide-5 .header {
  color: #fff;
  font-size: 59px;
  text-shadow: 0 3px 4px #020202;
}

.slider-medic .description {
  color: #f5adab;
  font-size: 34px;
  line-height: 44px;
  width: 100%;
  text-shadow: 0 3px 4px #020202;
}

@media (max-width: 991px){
  .slider-medic .typo-adds-on {
    width: 90%;
  }
  .slider-medic .slide-5 .header {
    color: #fff;
    font-size: 29px;
  }

  .slider-medic .description {
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    width: 100%;
  }
}

@media (max-width: 600px){
  .slider-medic .typo-adds-on {
    width: 100%;
  }
}


.testimonials{
  background-color: #e1004a;
}

.home-prenancy.testimonials .slider-testimonials .owl-dot{
  width: 15px;
  height: 15px;
  margin: 0 6px;
}

.testimonials .slider-testimonials .testimonial-graph {
  font-style: italic;
  font-size: 25px;
}

.testimonials .slider-testimonials .owl-dots{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.recent-news-2 .recent-news-item {
  padding: 17px 0 0;
  padding-top: 0;
}


.standartModal .modal_md{
  width: 400px;
}

.standartModal .modal_md .modal-header{
  background-color: #e1004a;
  padding: 25px 30px 25px 30px;
}

.standartModal .modal_md .modal-header h4{
  color: #fff;
  letter-spacing: 1px;
  font-size: 21px;
}

.standartModal .modal_md .modal-header .close {
  margin-top: 3px;
  font-size: 26px;
  color: #fff;
  opacity: 0.8;
}

.standartModal .modal_md .modal-header .close:hover{
  opacity: 1;
}


.standartModal .modal_md .modal-body{
  padding: 25px 30px 25px 30px;
}


.standartModal .modal_md .modal-body .form-md-line-input .form-control{
  border-bottom: 2px solid #ffc8da;
  color: #000;
}

.standartModal .modal_md .modal-body .form-md-line-input .form-control:focus{
  border-bottom: 2px solid #e1004a;
}

.standartModal .modal_md .modal-body .btn-wrapper{
  width: 100%;
  margin-top: 30px;
}

.standartModal .modal_md .modal-body .btn-wrapper .btn{
  width: 100%;
  background-color: #e1004a;
  border: 2px solid #e1004a;
  padding: 6px 0;
}

.standartModal .modal_md .modal-body .btn-wrapper .btn:hover{
  background-color: #fff;
  border: 2px solid #e1004a;
  color: #e1004a;
}



@media (min-width: 768px) {
  .standartModal .modal_md {
    width: 400px;
    margin: 70px auto 30px auto;
  }
}


@media (max-width: 768px) {
  .standartModal .modal_md {
    width: 300px;
    margin: 70px auto 30px auto;
  }
}

.blogs-section-title{
  padding: 30px 0;
}

.blogs-section-title h1{
  margin-left: 15px;
}

.right-slide-blog .media-body h4 a {
  font-size: 18px;
  text-decoration: none;
}

.right-slide-blog .media-body a{
  font-size: 16px;
  text-decoration: underline;
  color: #e1004a;
}

.right-slide-blog .media-body{
  overflow: visible;
}

.recent-post-wrapper .post-list .media{
  overflow: visible;
}


.blog-smoll-item-img{
  display: table-cell;
  vertical-align: middle;
  width: 250px;
  position: relative;
  z-index: 2;
  height: 220px;
}

.blog-smoll-item-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog-big-item-img{
  width: 100%;
  height:220px;
}

.blog-big-item-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-2col-sidebar .grid-item {
  width: 100%!important;
}

.recent-blogs-item{
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #d9e7ee;
}

.recent-blogs-item:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recent-blog_img{
  width: 100px;
  height: 70px;
}

.recent-blog_img img{
  height: 100%;
  width: 100px;
  object-fit: cover;
}


.recent-blog-body{
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recent-blog-body .title-a{
  font-size: 16px;
  font-weight: 500;
  color: #e1004a;
}

.recent-blog-body .title-a:hover{
  text-decoration: underline;
}

.recent-blog-body .btn-a{
  font-size: 16px;
  text-decoration: underline;
  color: #e1004a;
}

.popular-blogs-left {
  margin-top: 85px;
}

.category-list .category + .category .category-link, .archive-list .category + .category .category-link, .category-list .archive + .archive .category-link, .archive-list .archive + .archive .category-link, .category-list .category + .category .archive-link, .archive-list .category + .category .archive-link, .category-list .archive + .archive .archive-link, .archive-list .archive + .archive .archive-link {
  padding-top: 10px;
  border-top: 2px solid #f1f6fd;
  text-transform: uppercase;
}

.blog-2col-sidebar .recent-news-item .recent-news-content .post-date {
  position: relative;
  top: -5px;
  left: auto;
  margin-left: -76px;
}

.blog-detail-wrapper .post-single .post-date {
  left: -20px;
  margin-right: 14px;
  font-size: 16px;
  font-weight: 600;
  color: #e1004a;
}


.blog-2col-sidebar .recent-news-item .recent-news-content:hover {
  border-color: #e1004a;
}

.recent-news-item .recent-news-content .recent-news-title a:hover {
  color: #e1004a;
}

.fa.fa-eye{
  color: #6ac683;
}

.post-meta-single-blog .list-meta li{
  font-size: 15px;
}

.post-meta-single-blog .list-meta li i {
  font-size: 15px;
}

.single_blog-img{
  width: 100%;
}

.single_blog-img img{
  width: 100%;
}

.lang{
  color: #f6eff7;
}

.lang a{
  color: #f6eff7;
  margin: 0 4px;
}

.lang a:hover{
  opacity: 1;
  color: #fff;
}

.blogs-section-title-responses h1{
  margin-left: 0;
}


/* RESPONSES */

.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #f0f5f8;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.dialogbox .response-text {
  position: relative;
  max-width: 100%;
  height: auto;
  margin: 20px 10px;
  background-color: #f0f5f8;
  border-radius: 10px;
  border: 5px solid #f0f5f8;
  padding: 20px;
}

.response-text .message {
  border-radius: 3px;
  font-size: 16px;
  line-height: 1.5;
  color: #797979;
}

.response-text .user_date{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-bottom: 6px;
}


.response-item{
  text-align: center;
}

.response-item .services-content .description {
  min-height: 65px;
}


.response-item .services-content .line{
  margin: 5px auto 2px;
}

.response-item .response-date{
  color: #929292;
}

/*.response-item .btn-for-icon{*/
  /*background-color: #fff;*/
/*}*/

.response-item .services-content .services-title{
  margin-top: 6px;
}


.response-user-img{
  width: 70px;
  height: 70px;
}

.response-user-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  /*border: 2px solid #f0f5f8;*/
}

.response-btn-modal-show{
  position: relative;
}

.response-btn-modal-show .response-show-all{
  color: #e1004a;
  font-size: 16px;
  border-bottom: 1px dotted #e1004a;
}

/*.response-show-all:hover{*/
  /*text-decoration: underline;*/
/*}*/


/*.response-modal-open.in{*/
  /*display: block!important;*/
/*}*/

.response-modal-open .modal-title{
  display: inline-block;
  margin-left: 20px;
  font-size: 18px!important;
}

.response-modal-open .modal-resp-text{
  font-size: 16px;
}




.response-modal-open .modal_md .modal-header .close{
margin-top: 20px;
}

.response-modal-open .modal-resp-img{
  width: 70px;
  height: 70px;
  display: inline-block;
}

.response-modal-open .modal-resp-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}


@media (min-width: 768px){
  .response-modal-open .modal_md {
    width: 500px;
    margin: 70px auto 30px auto;
  }
 }


.response-item .services-content:before {
  border: 2px solid #fafcfd;
}

.footer-content.footer-content-style-5 .info-footer {
  border-color: #e1004a;
}

.footer-content.footer-content-style-5 .info-footer:before, .footer-content.footer-content-style-5 .info-footer:after{
  background-color:#e1004a ;
}

.rulers-div p{
  font-size: 15px;
}

.response-item .services-content:after{
  background-color: rgba(250, 252, 253, 0.9);

}


.modal-incorect{
  margin: 0;
  padding: 0;

  color: red;
  font-size: 13px;
  display: none;
}

/*#inc-modal-email{*/
  /*color: red;*/
/*}*/

.okModal .modal-body{
  text-align: center;
}

.okModal .modal-body p{
  font-size: 16px;
}

.okModal .modal-body .btn{
  background: #e1004a;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  margin-top: 16px;
  border: 2px solid #e1004a;
}

.okModal .modal-body .btn:hover{
  border: 2px solid #e1004a;
  background: #fff;
  color: #e1004a;
}


body{
  padding-right: 0!important;
}

.contact-page .contact-form-content{
  width: 100%;
}


.contact-page .contact-form-wrapper{
  margin-top: 33px;
}

.contact-page .contact-info:before{
  border: 2px solid #fafcfd;
}

.contact-page .contact-info:after{
  border: 2px solid #fafcfd;
  background-color: #fafcfd;
}

.contact-page .contact-info .btn-for-icon i{
  color: #e1004a;
}

.contact-page .contact-info .btn-for-icon .icon2{
  background-color: #e1004a;
  color: #fff;
}


.contact-page .contact-form-inner{
  border: 2px solid #fafcfd;
}
.contact-page .contact-form-inner .typo-line{
  padding: 0;
}

.contact-page .contact-form-inner .sub-header{
  font-size: 17px;
  color: #e1004a;
}

.contact-page .form-md-line-input .form-control.form-textarea{
  height: 100px;
  min-height: 100px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.contact-page .appointment-form .btn{
  background: #e1004a;
  color: #fff;
  width: 100%;
  padding: 10px 0;
  margin-top: 16px;
  border: 2px solid #e1004a;
}

.contact-page .appointment-form .btn:hover{
  border: 2px solid #e1004a!important;
  background: #fff;
  color: #e1004a;
}

.contact-form-inner {
  position: relative;
  padding: 23px 30px 56px 30px;
}

.order-coll-btn{
  cursor: pointer;
}

@media screen and (max-width:768px){
  .order-coll-btn{
    display: none;
  }
}

.circlephone{
  z-index: 9999;
  box-sizing:content-box;
  -webkit-box-sizing:content-box;
  border: 2px solid #e1004a;
  width:150px;
  height:150px;
  bottom:-25px;
  left:10px;
  position:fixed;
  -webkit-border-radius:100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  opacity: .5;
  -webkit-animation: circle-anim 2.4s infinite ease-in-out !important;
  -moz-animation: circle-anim 2.4s infinite ease-in-out !important;
  -ms-animation: circle-anim 2.4s infinite ease-in-out !important;
  -o-animation: circle-anim 2.4s infinite ease-in-out !important;
  animation: circle-anim 2.4s infinite ease-in-out !important;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;-o-transition: all .5s;
  transition: all 0.5s;}
.circle-fill{z-index: 9999;box-sizing:content-box;-webkit-box-sizing:content-box;background-color:#e1004a;width:100px;height:100px;bottom:0px;left:35px;position:fixed;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;-webkit-animation: circle-fill-anim 2.3s infinite ease-in-out;-moz-animation: circle-fill-anim 2.3s infinite ease-in-out;-ms-animation: circle-fill-anim 2.3s infinite ease-in-out;-o-animation: circle-fill-anim 2.3s infinite ease-in-out;animation: circle-fill-anim 2.3s infinite ease-in-out;-webkit-transition: all .5s;-moz-transition: all .5s;-o-transition: all .5s;transition: all 0.5s;}
.img-circle{z-index: 9999;box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;bottom: 14px;left: 49px;position:fixed;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;border: 2px solid transparent;opacity: .7;}
.img-circleblock{z-index: 9999;box-sizing:content-box;-webkit-box-sizing:content-box;width:72px;height:72px;background-image:url(../images/telephone.png);background-position: center center;background-repeat:no-repeat;animation-name: tossing;-webkit-animation-name: tossing;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
.img-circle:hover{opacity: 1;}
@keyframes pulse {0% {transform: scale(0.9);opacity: 1;}
  50% {transform: scale(1); opacity: 1; }
  100% {transform: scale(0.9);opacity: 1;}}
@-webkit-keyframes pulse {0% {-webkit-transform: scale(0.95);opacity: 1;}
  50% {-webkit-transform: scale(1);opacity: 1;}
  100% {-webkit-transform: scale(0.95);opacity: 1;}}
@keyframes tossing {
  0% {transform: rotate(-8deg);}
  50% {transform: rotate(8deg);}
  100% {transform: rotate(-8deg);}}
@-webkit-keyframes tossing {
  0% {-webkit-transform: rotate(-8deg);}
  50% {-webkit-transform: rotate(8deg);}
  100% {-webkit-transform: rotate(-8deg);}}
@-moz-keyframes circle-anim {
  0% {-moz-transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;-moz-opacity: .1;-webkit-opacity: .1;-o-opacity: .1;}
  30% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;-moz-opacity: .5;-webkit-opacity: .5;-o-opacity: .5;}
  100% {-moz-transform: rotate(0deg) scale(1) skew(1deg);opacity: .6;-moz-opacity: .6;-webkit-opacity: .6;-o-opacity: .1;}}
@-webkit-keyframes circle-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.5) skew(1deg);-webkit-opacity: .1;}
  30% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);-webkit-opacity: .5;}
  100% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);-webkit-opacity: .1;}}
@-o-keyframes circle-anim {
  0% {-o-transform: rotate(0deg) kscale(0.5) skew(1deg);-o-opacity: .1;}
  30% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);-o-opacity: .5;}
  100% {-o-transform: rotate(0deg) scale(1) skew(1deg);-o-opacity: .1;}}
@keyframes circle-anim {
  0% {transform: rotate(0deg) scale(0.5) skew(1deg);opacity: .1;}
  30% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .5;}
  100% {transform: rotate(0deg) scale(1) skew(1deg);
    opacity: .1;}}
@-moz-keyframes circle-fill-anim {
  0% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);opacity: .2;}
  100% {-moz-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-webkit-keyframes circle-fill-anim {
  0% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;  }
  50% {-webkit-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;  }
  100% {-webkit-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@-o-keyframes circle-fill-anim {
  0% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {-o-transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {-o-transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}
@keyframes circle-fill-anim {
  0% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}
  50% {transform: rotate(0deg) scale(1) skew(1deg);opacity: .2;}
  100% {transform: rotate(0deg) scale(0.7) skew(1deg);opacity: .2;}}

.orderColl .modal-body p{
  text-align: center;
}
